<!doctype html>
<html>
	<head>
		<title>Victim 1</title>
		<link rel="stylesheet" href="static/style.css"></link>
	</head>
	<body>
		<p>
			Hello {{ name }}:
			<img src="static/welcome.png">
		</p>
		<hr />
		<p>
			Advertisement:
			<img src="static/advertisement.png">
		</p>
		<hr />
		<p>
			Static JS:
			<span id="sjs">...</span>
		</p>
		<hr />
		<p>
			Dynamic JS:
			<span id="djs">...</span>
			<button id="load">Load</button>
		</p>
		<script src="static/script.js"></script>
	</body>
</html>
