<!doctype html>
<html>
	<head>
		<title>Victim</title>
		<link rel="stylesheet" href="/static/style.css"></link>
	</head>
	<body>
		<h1>Hello Victim</h1>
		<hr />
		<p>
			Welcome image:
			<img src="/static/welcome.png">
		</p>
		<hr />
		<p>
			Advertisement:
			<span id="ajs" class="border">...</span>
			<span id="ads_png">
				<!-- <img src="/static/advertisement.png"> -->
			</span>
			<script src="/static/advertisement.js"></script>
		</p>
		<hr />
		<p>
			Static JS:
			<span id="sjs" class="border">...</span>
			<script src="/static/static.js"></script>
		</p>
		<hr />
		<p>
			Dynamic JS:
			<span id="djs" class="border">...</span>
			<button id="load">Load</button>
		</p>
		<hr />
		<p>
			Open <a href="/redirect">redirect</a>:
			<input type="name" id="redir_url" value="{{ redir_url }}"
					autocomplete="off"/>
			<br />
			<ul>
				<li class="redir_prefill">/static/replace.js</li>
				<li class="redir_prefill">{{ ATTACKER }}/static/exploit.js</li>
				<li class="redir_prefill">/static/user.js</li>
			</ul>
		</p>
		<hr />
		<p>
			We will host your input at /static/user.js!
			<form method="POST" action="/user">
				<input name='user' id='user'>
    			<input type='submit'>
  			</form>
		</p>
		<hr />
		<p>
			CSP: <button id="csp_apply">Apply</button>
			<br />
			{% for enable, line in csp_list %}
			<input type="checkbox" id="c{{ loop.index0 }}"
				name="c{{ loop.index0 }}" autocomplete="off"
				{%- if enable %} checked{% endif %}
				{%- if loop.last %} class="last"{% endif %}>
			<label for="c{{ loop.index0 }}"><tt>{{ line }}</tt></label><br>
			{% endfor %}
		</p>
		<script src="/static/script.js"></script>
	</body>
</html>
