img, .border {
	border-style: solid;
	border-width: 1px;
}

tt {
	white-space: pre;
}

.fail {
	background: #ffcccc;
	border-style: solid;
	border-width: 1px;
}

.warn {
	background: #ffff88;
	border-style: solid;
	border-width: 1px;
}

.success {
	background: #ccffcc;
	border-style: solid;
	border-width: 1px;
}

